{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'challenges',
    'label': 'Challenges'|trans
}]} %}
{% autoescape false %}
    <!-- CHALLENGES -->
    {% for month,challenges in challengesGroupedPerMonth %}
        <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <h3 class="flex items-center gap-x-1 text-lg font-semibold mb-4">
                <span>{{ month }}</span>
                <span class="bg-green-400/40 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full">{{ challenges|length }}</span>
            </h3>
            <div class="grid gap-4 grid-cols-8 xl:grid-cols-12">
                {% for challenge in challenges %}
                    {% set tooltipContent = challenge.getName()|replace({'"':'\''}) %}
                    <a href="{{ challenge.getUrl() }}" title="{{ tooltipContent }}">
                        <img src="{{ placeholderImage() }}" data-src="{{ relativeUrl(challenge.getLocalLogoUrl()) }}" alt="{{ tooltipContent }}" class="lazy h-auto max-w-full rounded-lg" />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endautoescape %}