{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'heatmap',
    'label': 'Heatmap'|trans
}]} %}
{% autoescape false %}
    <div class="grid grid-cols-1 gap-y-2 heatmap-wrapper">
        <div class="lg:flex items-center justify-between gap-x-[2rem] p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <form class="flex flex-col gap-y-2" autocomplete="off">
                <div class="flex flex-col sm:flex-row gap-2">
                    {% if sportTypes|length > 0 %}
                        <div class="filter-dropdown">
                            <button id="dropdownSportTypesButton"
                                    data-dropdown-toggle="dropdownSportTypes" data-dropdown-offset-distance="10" data-dropdown-offset-skidding="0" type="button">
                                <span>{{ "Filter on sport type"|trans }}</span>
                                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdownSportTypes" class="z-1002 w-fit hidden border border-gray-200 bg-white divide-y divide-gray-100 rounded-lg shadow-xs">
                                <ul class="max-h-60 overflow-y-auto px-1 py-2 space-y-1 text-sm text-gray-700" aria-labelledby="dropdownSportTypesButton">
                                    {% for sportType in sportTypes %}
                                        <li>
                                            <div class="flex items-center gap-x-2 p-2 rounded-xs hover:bg-gray-100">
                                                <input type="radio" id="{{ sportType.value }}" data-dataTable-filter="sportType" name="sportType" value="{{ sportType.value }}" class="w-4 h-4 peer text-strava-orange bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2" />
                                                <label for="{{ sportType.value }}" class="flex gap-x-1 items-center text-sm font-medium text-gray-500 cursor-pointer peer-checked:text-strava-orange hover:text-gray-600 hover:bg-gray-100">
                                                    {{ svgSportType(sportType) }}
                                                    <div>{{ sportType|trans }}</div>
                                                </label>
                                                <a href="#" class="text-strava-orange text-sm underline invisible peer-checked:visible ml-auto" data-dataTable-filter-clear="sportType">{{ "clear"|trans }}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="filter-dropdown">
                        <button id="dropdownDateRangeButton"
                                data-dropdown-toggle="dropdownDateRange" type="button">
                            <span>{{ "From"|trans }} - {{ "To"|trans }}</span>
                            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <div id="dropdownDateRange" class="z-1002 w-fit hidden border border-gray-200 bg-white divide-y divide-gray-100 rounded-lg shadow-xs">
                            <div class="flex items-center gap-x-2 p-3" aria-labelledby="dropdownDateRangeButton">
                                <div class="flex items-center" data-dataTable-filter="start-date[]">
                                    <input name="start-date[from]" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                    <span class="mx-2 text-gray-500">{{ "To"|trans }}</span>
                                    <input name="start-date[to]" type="date" data-default-to-today class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                </div>
                                <a href="#" class="text-strava-orange text-sm text-right underline" data-dataTable-filter-clear="start-date">{{ "clear"|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter-dropdown">
                        <button id="otherButton" data-dropdown-toggle="dropdownOther" data-dropdown-offset-distance="10" data-dropdown-offset-skidding="0" type="button">
                            <span>{{ "Other"|trans }}</span>
                            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <div id="dropdownOther" class="z-1002 w-fit hidden border border-gray-200 bg-white rounded-lg shadow-xs">
                            <div class="px-1 py-2 flex gap-x-2 divide-x divide-gray-100">
                                <div class="flex flex-col items-center">
                                    <div class="text-xs font-medium items-center">{{ "Commutes"|trans }}</div>
                                    <ul class="text-sm text-gray-700">
                                        <li>
                                            <div class="flex items-center gap-x-2 p-2 rounded-xs hover:bg-gray-100">
                                                <input type="radio" id="true" data-dataTable-filter="isCommute" name="isCommute" value="true" class="w-4 h-4 peer text-strava-orange bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2" />
                                                <label for="true" class="text-sm font-medium text-gray-500 cursor-pointer peer-checked:text-strava-orange hover:text-gray-600 hover:bg-gray-100">
                                                    {{ "Commutes only"|trans }}
                                                </label>
                                                <a href="#" class="text-strava-orange text-sm underline invisible peer-checked:visible ml-auto" data-datatable-filter-clear="isCommute">{{ "clear"|trans }}</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-center gap-x-2 p-2 rounded-xs hover:bg-gray-100">
                                                <input type="radio" id="false" data-dataTable-filter="isCommute" name="isCommute" value="false" class="w-4 h-4 peer text-strava-orange bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2" />
                                                <label for="false" class="text-sm font-medium text-gray-500 cursor-pointer peer-checked:text-strava-orange hover:text-gray-600 hover:bg-gray-100">
                                                    {{ "Excludes commutes"|trans }}
                                                </label>
                                                <a href="#" class="text-strava-orange text-sm underline invisible peer-checked:visible ml-auto" data-datatable-filter-clear="isCommute">{{ "clear"|trans }}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div class="text-xs font-medium">{{ "Workout type"|trans }}</div>
                                    <ul class="text-sm text-gray-700">
                                        {% for workoutType in enum('App\\Domain\\Activity\\WorkoutType').cases() %}
                                            <li>
                                                <div class="flex items-center gap-x-2 p-2 rounded-xs hover:bg-gray-100">
                                                    <input type="radio" id="{{ workoutType.value }}" data-dataTable-filter="workoutType" name="workoutType" value="{{ workoutType.value }}" class="w-4 h-4 peer text-strava-orange bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2" />
                                                    <label for="{{ workoutType.value }}" class="text-sm font-medium text-gray-500 cursor-pointer peer-checked:text-strava-orange hover:text-gray-600 hover:bg-gray-100">
                                                        {{ workoutType|trans }}
                                                    </label>
                                                    <a href="#" class="text-strava-orange text-sm underline invisible peer-checked:visible ml-auto" data-datatable-filter-clear="workoutType">{{ "clear"|trans }}</a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-xs text-gray-700">
                    {% set numberOfResults = '<span class="font-bold" data-dataTable-result-count>' ~ numberOfRoutes ~ '</span>' %}
                    {{ "{numberOfResults} routes based on your active filters"|trans({'{numberOfResults}': numberOfResults}) }}
                    <a href="#" class="hidden text-strava-orange underline" data-dataTable-reset>{{ "clear"|trans }}</a>
                </div>
            </form>
            <div class="mt-2 lg:mt-0 text-gray-700 text-xs">
                {% set percentage = '<span class="font-bold">' ~ (numberOfCountriesWithWorkouts / 195 * 100)|formatNumber(0) ~ '%</span>' %}
                {{ "You recorded workouts in {numberOfCountriesWithWorkouts} different countries, that's {percentage} of all countries 🌍"|trans({
                    '{numberOfCountriesWithWorkouts}': numberOfCountriesWithWorkouts,
                    '{percentage}': percentage
                }) }}
            </div>
        </div>
        <!-- HEATMAP -->
        <div id="heatmap" data-heatmap-config='{{ heatmapConfig|json_encode}}' data-leaflet-routes='{{ routes }}'
             class="grid grid-cols-1 h-[calc(100vh-245px)] {{ heatmapConfig.enableGreyScale() ? 'enable-grey-scale' : '' }}">
        </div>
    </div>
{% endautoescape %}