<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ "Statistics for Strava"|trans }} {{ athlete.getName() }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#F26822">
    <meta name="mobile-web-app-title" content="{{ "Statistics for Strava"|trans }} {{ athlete.getName() }}">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="{{ relativeUrl(asset('manifest.json')) }}" rel="manifest" crossorigin="">
    <link rel="icon" type="image/x-icon" href="{{ relativeUrl('assets/images/logo.svg') }}">
    <link href="{{ relativeUrl(asset('css/dist/tailwind.min.css')) }}" rel="stylesheet"/>
    <link rel="preload" href="{{ relativeUrl(asset('libraries/leaflet/leaflet.css')) }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ relativeUrl(asset('libraries/clusterize/clusterize.min.css')) }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ relativeUrl(asset('libraries/lightgallery/lightgallery-bundle.min.css')) }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body>
<div class="antialiased bg-gray-50">
    <!-- NAVIGATION -->
    {% autoescape false %}
        {% include 'html/navigation/top-nav-bar.html.twig' with {
            'subTitle': subTitle,
            'profilePictureUrl': profilePictureUrl,
            'athlete': athlete
        } %}
    {% endautoescape %}
    <!-- SIDEBAR -->
    <aside class="group fixed top-0 left-0 w-64 [&.sidebar-is-collapsed]:w-32 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 z-1001"
           aria-label="Sidenav" id="drawer-navigation">
        {% set menuLinkClasses = 'flex items-center gap-x-3 group/menu-item p-2 text-base font-medium text-gray-900 rounded-lg hover:bg-gray-100 aria-selected:bg-gray-100' %}
        {% set collapsedMenuLinkClasses = 'group-[.sidebar-is-collapsed]:flex-col group-[.sidebar-is-collapsed]:gap-y-0.5 group-[.sidebar-is-collapsed]:text-xs' %}
        {% set menulinkSvgIconClasses = 'shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover/menu-item:text-gray-900' %}
        {% set isSymfonyRouter = router == enum('App\\Application\\Router').SYMFONY %}
        <div class="group-[.sidebar-is-collapsed]:max-h-full max-h-[calc(100vh-160px)] overflow-y-auto py-5 px-3 h-full bg-white divide-y divide-gray-200">
            <ul class="space-y-1 pb-2">
                <li>
                    <a href="{{ relativeUrl('dashboard') }}" data-router-navigate="{{ relativeUrl('dashboard') }}" {{ isSymfonyRouter ? 'data-router-disabled' : '' }}
                       class="{{ menuLinkClasses }} {{ collapsedMenuLinkClasses }}">
                        <svg aria-hidden="true"
                             class="{{ menulinkSvgIconClasses }}"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6.025A7.5 7.5 0 1 0 17.975 14H10V6.025Z"/>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 3c-.169 0-.334.014-.5.025V11h7.975c.011-.166.025-.331.025-.5A7.5 7.5 0 0 0 13.5 3Z"/>
                        </svg>
                        <span class="flex-1 whitespace-nowrap">{{ "Dashboard"|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ relativeUrl('photos') }}" data-router-navigate="{{ relativeUrl('photos') }}" {{ isSymfonyRouter ? 'data-router-disabled' : '' }}
                        class="{{ menuLinkClasses }} {{ collapsedMenuLinkClasses }}">
                        <svg class="{{ menulinkSvgIconClasses }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M4 18V8a1 1 0 0 1 1-1h1.5l1.707-1.707A1 1 0 0 1 8.914 5h6.172a1 1 0 0 1 .707.293L17.5 7H19a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Z"/>
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                        <span class="flex-1 whitespace-nowrap">{{ "Photos"|trans|ellipses(19) }}</span>
                        <span class="group-[.sidebar-is-collapsed]:hidden bg-green-400/40 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full">{{ totalPhotoCount }}</span>
                    </a>
                </li>
            </ul>
            <ul class="space-y-1 py-2">
                <li>
                    <a href="{{ relativeUrl('activities') }}" data-router-navigate="{{ relativeUrl('activities') }}" {{ isSymfonyRouter ? 'data-router-disabled' : '' }}
                       class="{{ menuLinkClasses }} {{ collapsedMenuLinkClasses }}">
                        <svg class="{{ menulinkSvgIconClasses }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"/>
                        </svg>
                        <span class="flex-1 whitespace-nowrap">{{ "Activities"|trans|ellipses(19) }}</span>
                        <span class="group-[.sidebar-is-collapsed]:hidden bg-green-400/40 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full">{{ totalActivityCount }}</span>
                    </a>
                </li>
            </ul>
            <ul class="space-y-1 py-2">
                <li>
                    <a href="{{ relativeUrl('monthly-stats') }}" data-router-navigate="{{ relativeUrl('monthly-stats') }}" {{ isSymfonyRouter ? 'data-router-disabled' : '' }}
                       class="{{ menuLinkClasses }} {{ collapsedMenuLinkClasses }}">
                        <svg class="{{ menulinkSvgIconClasses }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                        </svg>
                        <span class="flex-1 whitespace-nowrap">{{ "Monthly stats"|trans|ellipses(23) }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ relativeUrl('heatmap') }}" data-router-navigate="{{ relativeUrl('heatmap') }}" {{ isSymfonyRouter ? 'data-router-disabled' : '' }}
                       class="{{ menuLinkClasses }} {{ collapsedMenuLinkClasses }}">
                        <svg class="{{ menulinkSvgIconClasses }}"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g stroke-width="0"></g>
                            <g stroke-linecap="round" stroke-linejoin="round"></g>
                            <g>
                                <path d="M3 8.70938C3 7.23584 3 6.49907 3.39264 6.06935C3.53204 5.91678 3.70147 5.79466 3.89029 5.71066C4.42213 5.47406 5.12109 5.70705 6.51901 6.17302C7.58626 6.52877 8.11989 6.70665 8.6591 6.68823C8.85714 6.68147 9.05401 6.65511 9.24685 6.60952C9.77191 6.48541 10.2399 6.1734 11.176 5.54937L12.5583 4.62778C13.7574 3.82843 14.3569 3.42876 15.0451 3.3366C15.7333 3.24444 16.4168 3.47229 17.7839 3.92799L18.9487 4.31624C19.9387 4.64625 20.4337 4.81126 20.7169 5.20409C21 5.59692 21 6.11871 21 7.16229V15.2907C21 16.7642 21 17.501 20.6074 17.9307C20.468 18.0833 20.2985 18.2054 20.1097 18.2894C19.5779 18.526 18.8789 18.293 17.481 17.827C16.4137 17.4713 15.8801 17.2934 15.3409 17.3118C15.1429 17.3186 14.946 17.3449 14.7532 17.3905C14.2281 17.5146 13.7601 17.8266 12.824 18.4507L11.4417 19.3722C10.2426 20.1716 9.64311 20.5713 8.95493 20.6634C8.26674 20.7556 7.58319 20.5277 6.21609 20.072L5.05132 19.6838C4.06129 19.3538 3.56627 19.1888 3.28314 18.7959C3 18.4031 3 17.8813 3 16.8377V8.70938Z"
                                      stroke="currentColor" stroke-width="2"></path>
                                <path d="M9 6.63867V20.5" stroke="currentColor" stroke-width="2"></path>
                                <path d="M15 3V17" stroke="currentColor" stroke-width="2"></path>
                            </g>
                        </svg>
                        <span class="flex-1 whitespace-nowrap">{{ "Heatmap"|trans|ellipses(23) }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ relativeUrl('rewind') }}" data-router-navigate="{{ relativeUrl('rewind') }}" {{ isSymfonyRouter ? 'data-router-disabled' : '' }}
                       class="{{ menuLinkClasses }} {{ collapsedMenuLinkClasses }}">
                        <svg class="{{ menulinkSvgIconClasses }}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5"/>
                        </svg>
                        <span class="flex-1 whitespace-nowrap">{{ "Rewind"|trans|ellipses(23) }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="absolute flex flex-col justify-center bottom-0 left-0 w-full bg-white z-20">
            <div class="group-[.sidebar-is-collapsed]:hidden py-2 px-4 text-xs text-center text-gray-500">
                <div class="mb-2">
                    {{ "Based on"|trans }}
                    <a class="underline" href="https://statistics-for-strava-docs.robiningelbrecht.be#/" target="_blank" rel="noreferrer noopener">
                        {{ "Statistics for Strava" }}
                    </a>
                </div>
                <div class="flex justify-center gap-px">
                    <a href="https://www.strava.com/athletes/{{ athlete.getAthleteId() }}" target="_blank"
                       class="p-2 text-gray-500 rounded-sm cursor-pointer hover:text-[#fc4c01] hover:bg-gray-100">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <g stroke-width="0"></g>
                            <g stroke-linecap="round" stroke-linejoin="round"></g>
                            <g>
                                <path d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"></path>
                            </g>
                        </svg>
                    </a>
                    <a href="#" data-model-content-url="{{ relativeUrl('badge.html') }}" title="Show badge"
                       class="p-2 text-gray-500 rounded-sm cursor-pointer hover:text-[#fc4c01] hover:bg-gray-100">
                        <svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 507.9 507.9" xml:space="preserve">
                    <g stroke-width="0"></g>
                            <g stroke-linecap="round" stroke-linejoin="round"></g>
                            <g>
                                <g>
                                    <g>
                                        <path d="M465.7,96.55H324.9v-21.6c0-7.8-6.3-14.1-14.1-14.1H197.2c-7.8,0-14.1,6.3-14.1,14.1v21.6H42.3c-23.3,0-42.3,19-42.3,42.3 v265.9c0,23.3,19,42.3,42.3,42.3h423.3c23.3,0,42.3-19,42.3-42.3v-265.9C508,115.55,489,96.55,465.7,96.55z M296.7,89.05v32.1 h-85.4v-32.1H296.7z M465.7,418.85H42.3c-7.8,0-14.1-6.3-14.1-14.1v-265.9c0-7.8,6.3-14.1,14.1-14.1h140.8v10.5 c0,7.8,6.3,14.1,14.1,14.1h113.6c7.8,0,14.1-6.3,14.1-14.1v-10.5h140.7c7.8,0,14.1,6.3,14.1,14.1v265.9h0.1 C479.8,412.55,473.5,418.85,465.7,418.85z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M440.6,173.65H254c-7.8,0-14.1,6.3-14.1,14.1s6.3,14.1,14.1,14.1h186.6c7.8,0,14.1-6.3,14.1-14.1 S448.4,173.65,440.6,173.65z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M440.6,241.95H254c-7.8,0-14.1,6.3-14.1,14.1s6.3,14.1,14.1,14.1h186.6c7.8,0,14.1-6.3,14.1-14.1 C454.7,248.25,448.4,241.95,440.6,241.95z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M440.6,310.35H254c-7.8,0-14.1,6.3-14.1,14.1c0,7.8,6.3,14.1,14.1,14.1h186.6c7.8,0,14.1-6.3,14.1-14.1 S448.4,310.35,440.6,310.35z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M180.1,160.45H67.4c-7.8,0-14.1,6.3-14.1,14.1v130.5c0,7.8,6.3,14.1,14.1,14.1h112.7c7.8,0,14.1-6.3,14.1-14.1v-130.5 C194.2,166.85,187.9,160.45,180.1,160.45z M166,290.95H81.6v-102.2H166V290.95z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M180.1,354.85H67.4c-7.8,0-14.1,6.3-14.1,14.1c0,7.8,6.3,14.1,14.1,14.1h112.7c7.8,0,14.1-6.3,14.1-14.1 S187.9,354.85,180.1,354.85z"></path>
                                    </g>
                                </g>
                            </g>
                </svg>
                    </a>
                </div>
                <div class="flex justify-center gap-x-1">
                    <span>{{ appVersion.getSemanticVersion() }}</span>
                    <span class="hidden" data-latest-version
                          data-current-version="{{ appVersion.getSemanticVersion() }}">
                    (latest: <a class="underline"
                                href="https://github.com/robiningelbrecht/statistics-for-strava/releases/tag/[LATEST_VERSION]">[LATEST_VERSION]</a>)
                </span>
                </div>
                <div>
                    {{ "Updated on"|trans }} {{ lastUpdate|formatDate('normal') }} {{ lastUpdate|formatTime() }}
                </div>
            </div>
            <div class="flex gap-x-1 items-center justify-center border-t py-2 px-4 text-xs text-center text-gray-500">
                <img class="h-[12px]" src="{{ relativeUrl('assets/images/strava/powered-by-strava.svg') }}"
                     alt="Powered by Strava"/>
                <div class="group-[.sidebar-is-collapsed]:hidden">& ☕</div>
            </div>
        </div>

    </aside>
    <!-- MAIN -->
    <main class="p-4 md:ml-64 [&.sidebar-is-collapsed]:md:ml-32 h-auto min-h-screen pt-20 text-gray-900">
        {% block main %}
            <div id="spinner" class="items-center justify-center h-auto min-h-screen hidden">
                <div role="status">
                    <svg aria-hidden="true"
                         class="w-8 h-8 mr-2 text-gray-200 animate-spin fill-green-500"
                         viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                              fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                              fill="currentFill"/>
                    </svg>
                    <span class="sr-only">{{ "Loading..."|trans }}</span>
                </div>
            </div>
            <!-- JS LOADED CONTENT -->
            <div id="js-loaded-content"></div>
            <div id="modal-skeleton" tabindex="-1" aria-hidden="true"
                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-1500 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-7xl max-h-full">
                    <!-- Modal spinner -->
                    <div class="spinner hidden p-4 items-center justify-center h-auto bg-white rounded-lg shadow-sm">
                        <div role="status">
                            <svg aria-hidden="true"
                                 class="w-8 h-8 mr-2 text-gray-200 animate-spin fill-green-500"
                                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                      fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                      fill="currentFill"/>
                            </svg>
                            <span class="sr-only">{{ "Loading..."|trans }}</span>
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div id="modal-content" class="relative bg-white rounded-lg shadow-sm">

                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
</div>
<script>
    window.statisticsForStrava = {{ javascriptWindowConstants|raw }};
    window.statisticsForStrava.placeholderBrokenImage = "{{ relativeUrl('/assets/placeholder-broken.webp') }}";

    window.statisticsForStrava.callbacks = {
        formatSeconds: (secondsToFormat) => {
            const hours = String(Math.floor(secondsToFormat / 3600)).padStart(2, '0');
            const minutes = String(Math.floor((secondsToFormat % 3600) / 60)).padStart(2, '0');
            const seconds = String(secondsToFormat % 60).padStart(2, '0');

            return `${hours}:${minutes}:${seconds}`;
        },
        formatPace: (params) => {
            const paceSymbol = window.statisticsForStrava.unitSystem.paceSymbol;
            const secondsToFormat = params[0].value;
            if (secondsToFormat < 60) {
                return `<strong>${secondsToFormat}s</strong>${paceSymbol}`;
            }
            const minutes = Math.floor(secondsToFormat / 60);
            const secs = secondsToFormat % 60;
            return `<strong>${minutes}:${secs.toString().padStart(2, '0')}</strong>${paceSymbol}`;
        },
        symbolSize: (params) => {
            return (params[2] / 100) * 15 + 5;
        },
        toInteger: (value) => {
            return value.toFixed(0);
        },
        formatHours: (value) => {
            if (value === undefined || value === null) {
                return '-';
            }
            return `${value.toFixed(0)}h`;
        },
        formatDistance: (value) => {
            if(value === undefined || value === null) {
                return '-';
            }
            const distanceSymbol = window.statisticsForStrava.unitSystem.distanceSymbol;
            return `${value.toFixed(0)}${distanceSymbol}`;
        },
        formatElevation: (value) => {
            if(value === undefined || value === null) {
                return '-';
            }
            const elevationSymbol = window.statisticsForStrava.unitSystem.elevationSymbol;
            return `${value.toFixed(0)}${elevationSymbol}`;
        },
        formatActivityGridTooltip: (value) => {
            if (value === undefined || value === null) {
                return '-';
            }

            const dateFormat = window.statisticsForStrava.unitSystem.name === 'metric' ? '{dd}-{MM}-{yyyy}' : '{MM}-{dd}-{yyyy}';
            const date = echarts.time.format(value.data[0], dateFormat, false);
            if ('movingTime' === value.seriesName) {
                const secondsToFormat = value.data[1] * 60;
                const hours = String(Math.floor(secondsToFormat / 3600)).padStart(2, '0');
                const minutes = String(Math.floor((secondsToFormat % 3600) / 60)).padStart(2, '0');
                return date + ': ' + `${hours}h${minutes}`;
            }
            return date + ': ' + value.data[1];
        }
    };
</script>
<script src="{{ relativeUrl(asset('libraries/flowbite.min.js')) }}"></script>
<script src="{{ relativeUrl(asset('libraries/echarts/echarts.min.js')) }}"></script>
<script src="{{ relativeUrl(asset('libraries/echarts/echarts.world.min.js')) }}"></script>
<script src="{{ relativeUrl(asset('libraries/leaflet/leaflet.js')) }}"></script>
<script src="{{ relativeUrl(asset('libraries/leaflet/leaflet.polyline.encoded.js')) }}"></script>
<script src="{{ relativeUrl(asset('js/dist/leaflet.fly.to.places.min.js')) }}"></script>
<script src="{{ relativeUrl(asset('js/dist/app.min.js')) }}" type="module"></script>
{% block customScripts %}
{% endblock customScripts %}
</body>
</html>
