{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'photos',
    'label': 'Photos'|trans
}]} %}
{% autoescape false %}
<div class="grid grid-cols-1 gap-y-2 photo-wall-wrapper" data-default-filters='{{ defaultEnabledPhotoFilters }}'>
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
        <div class="flex items-center justify-between">
            <form class="flex flex-col gap-y-2 mb-2" autocomplete="off">
                <div class="flex flex-wrap gap-2">
                    {% if sportTypes|length > 0 %}
                        <div class="filter-dropdown">
                            <button id="dropdownSportTypesButton"
                                    data-dropdown-toggle="dropdownSportTypes" data-dropdown-offset-distance="10" data-dropdown-offset-skidding="0" type="button">
                                <span>{{ "Filter on sport type"|trans }}</span>
                                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdownSportTypes" class="z-1002 w-fit hidden border border-gray-200 bg-white divide-y divide-gray-100 rounded-lg shadow-xs">
                                <ul class="max-h-48 overflow-y-auto px-1 py-2 text-sm text-gray-700" aria-labelledby="dropdownSportTypesButton">
                                    {% for sportType in sportTypes %}
                                        <li>
                                            <div class="flex items-center gap-x-2 p-2 rounded-xs hover:bg-gray-100">
                                                <input type="checkbox" id="{{ sportType.value }}" data-dataTable-filter="sportType" name="sportType[{{ sportType.value }}]" value="{{ sportType.value }}" class="w-4 h-4 peer text-strava-orange bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2" />
                                                <label for="{{ sportType.value }}" class="flex gap-x-1 items-center text-sm font-medium text-gray-500 cursor-pointer peer-checked:text-strava-orange hover:text-gray-600 hover:bg-gray-100">
                                                    {{ svgSportType(sportType) }}
                                                    <div>{{ sportType|trans }}</div>
                                                </label>
                                                <a href="#" class="text-strava-orange text-sm underline invisible peer-checked:visible ml-auto" data-datatable-filter-clear="sportType[{{ sportType.value }}]">{{ "clear"|trans }}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if countries|length > 0 %}
                        <div class="filter-dropdown">
                            <button id="dropdownCountriesButton"
                                    data-dropdown-toggle="dropdownCountries" data-dropdown-offset-distance="10" data-dropdown-offset-skidding="0" type="button">
                                <span>{{ "Filter on country"|trans }}</span>
                                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdownCountries" class="z-1002 w-fit hidden border border-gray-200 bg-white divide-y divide-gray-100 rounded-lg shadow-xs">
                                <ul class="max-h-64 overflow-y-auto px-1 py-2 text-sm text-gray-700" aria-labelledby="dropdownCountriesButton">
                                    {% for countryCode,countryName in countries %}
                                        <li>
                                            <div class="flex items-center gap-x-2 p-2 rounded-xs hover:bg-gray-100">
                                                <input type="radio" id="{{ countryCode }}" data-dataTable-filter="countryCode" name="countryCode" value="{{ countryCode }}" class="w-4 h-4 peer text-strava-orange bg-gray-100 border-gray-300 focus:ring-green-500 focus:ring-2" />
                                                <label for="{{ countryCode }}" class="flex gap-x-1 items-center text-sm font-medium text-gray-500 cursor-pointer peer-checked:text-strava-orange hover:text-gray-600 hover:bg-gray-100">
                                                    <img src="{{ relativeUrl('assets/images/flags/' ~ countryCode|lower ~ '.svg') }}" width="15" class="rounded-xs" title="{{ countryName }}" alt="{{ countryName }}">
                                                    <span>{{ countryName }}</span>
                                                </label>
                                                <a href="#" class="text-strava-orange text-sm underline invisible peer-checked:visible ml-auto" data-datatable-filter-clear="countryCode">{{ "clear"|trans }}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="text-xs text-gray-700">
                    {% set numberOfResults = '<span class="font-bold" data-dataTable-result-count>' ~ totalPhotoCount ~ '</span>' %}
                    {{ "{numberOfResults} photos based on your active filters"|trans({'{numberOfResults}': numberOfResults}) }}
                    <a href="#" class="hidden text-strava-orange underline" data-dataTable-reset>{{ "clear"|trans }}</a>
                </div>
            </form>
            <div class="text-gray-500 hover:text-strava-orange">
                <a href="#" title="{{ "Start slideshow"|trans }}" data-light-gallery-trigger>
                    {{ svg('slideshow') }}
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap gap-2 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
        <div id="images" class="flex flex-wrap gap-2">
            {% for image in images %}
                {% set lightGalleryElement = {
                    'src': relativeUrl(image.getImageUrl()),
                    'subHtml': '<p>' ~ image.getActivity().getSanitizedName() ~ '</p>',
                    'alt':  image.getActivity().getSanitizedName(),
                } %}
                <a data-image data-filterables='{{ image.getFilterables()|json_encode }}' data-light-gallery-element='{{ lightGalleryElement|json_encode }}'
                   class="grow h-[25vh] relative group/image overflow-hidden rounded-lg shadow-sm" href="{{ image.getActivity().getUrl() }}" target="_blank">
                    <img class="h-full w-full object-cover align-bottom transition-transform duration-500 group-hover/image:scale-105 group-focus/image:scale-105 lazy"
                         data-src="{{ relativeUrl(image.getImageUrl()) }}" alt="{{ image.getActivity().getName() }}" src="{{ placeholderImage(image.getOrientation()) }}" />
                    <div class="absolute inset-0 bg-black/0 group-hover/image:bg-black/20 group-focus/image:bg-black/20 transition-colors duration-300"></div>
                    <div class="text-white flex flex-col absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/60 to-transparent p-3
                    transition-all duration-300 translate-y-full group-hover/image:opacity-100 group-hover/image:translate-y-0 group-focus/image:opacity-100 group-focus/image:translate-y-0">
                        <p class="text-base font-medium text-ellipsis line-clamp-1">{{ image.getActivity().getName() }}</p>
                        <p class="text-xs font-medium opacity-80">{{ image.getActivity().getStartDate()|formatDate() }}</p>
                    </div>
                </a>
            {% endfor %}
            <div class="grow-10"></div>
        </div>
    </div>
</div>
{% endautoescape %}
