{% set allTimeLabel = "All time"|trans %}
{% set breadcrumbs = [{
    'url': 'rewind',
    'label': 'Rewind'|trans
}] %}

{% if availableRewindOptions|first != activeRewindOption %}
    {% set breadcrumbs = breadcrumbs|merge([{
        'url': 'rewind/' ~ activeRewindOption,
        'label': (isAllTimeRewind ? allTimeLabel : activeRewindOption),
    }]) %}
{% endif %}
{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs} %}
{% autoescape false %}
    {% if availableRewindOptions|length > 1 %}
        <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="flex gap-x-2">
                <div>
                    <button id="dropdownRewindOptionButton" data-dropdown-toggle="dropdownRewindOption"
                            class="cursor-pointer w-fit text-white bg-strava-orange hover:bg-green-600 focus:ring-4 focus:outline-hidden focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center justify-between"
                            type="button">
                        {% if isAllTimeRewind %}
                            {{ allTimeLabel }}
                        {% else %}
                            {{ "Rewind"|trans }} {{ activeRewindOption }}
                        {% endif %}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <div id="dropdownRewindOption" class="z-1002 w-fit hidden bg-white rounded-lg shadow-sm">
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownRewindOptionButton">
                            {% for rewindOption in availableRewindOptions|filter(rewindOption => rewindOption != activeRewindOption) %}
                                <li>
                                    <a href="#" data-router-navigate="{{ relativeUrl('rewind/' ~ rewindOption) }}" class="block px-4 py-2 hover:bg-gray-100 ">
                                        {% if rewindOption == constant('App\\Domain\\Rewind\\FindAvailableRewindOptions\\FindAvailableRewindOptions::ALL_TIME')  %}
                                            {{ allTimeLabel }}
                                        {% else %}
                                            {{ "Rewind"|trans }} {{ rewindOption }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="hidden lg:block">
                    <button id="dropdownRewindOptionCompareToButton" data-dropdown-toggle="dropdownRewindOptionCompareTo"
                            class="cursor-pointer w-fit text-white bg-strava-orange hover:bg-green-600 focus:ring-4 focus:outline-hidden focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center justify-between"
                            type="button">
                        {{ "Compare to"|trans }}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <div id="dropdownRewindOptionCompareTo" class="z-1002 w-fit hidden bg-white rounded-lg shadow-sm">
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownRewindOptionCompareToButton">
                            {% for rewindOption in availableRewindOptions|filter(rewindOption => rewindOption != activeRewindOption) %}
                                <li>
                                    <a href="#" data-router-navigate="{{ relativeUrl('rewind/' ~ activeRewindOption ~ '/compare/' ~ rewindOption) }}" class="block px-4 py-2 hover:bg-gray-100 ">
                                        {% if rewindOption == constant('App\\Domain\\Rewind\\FindAvailableRewindOptions\\FindAvailableRewindOptions::ALL_TIME')  %}
                                            {{ allTimeLabel }}
                                        {% else %}
                                            {{ "Rewind"|trans }} {{ rewindOption }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        {% for item in rewindItems %}
            {% if not item.isPlaceHolderForComparison() %}
                {% include 'html/rewind/rewind-item.html.twig' with {'item': item, 'extraClass': loop.first and not isAllTimeRewind ? 'lg:col-span-2': '' } %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="mt-4 p-4 bg-white text-xs border border-gray-200 rounded-lg shadow-xs">
        <p>
            These charts are based on <a href="https://github.com/atefkbenothman" class="underline" target="_blank">Kai's</a> work,
            go <a href="https://github.com/atefkbenothman/strava-recap" class="underline" target="_blank">check it out</a>
        </p>
        <div class="mt-4 flex items-center p-2 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50"
             role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div class="text-xs">
                {{ "Your Strava {year} rewind will be available on the 24th of December."|trans({'{year}': now.format('Y')}) }}
            </div>
        </div>
    </div>
{% endautoescape %}